@model WalletManagerSite.Models.TransactionViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Title"]</h2>

<h3>@Localizer["DeleteQuestion"]</h3>
<div>
    <h4>TransactionViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Compte)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Compte)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComptabilisationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComptabilisationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValueDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>

    <form asp-action="Delete">
        @Html.HiddenFor(model => model.Reference)
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
