@model IEnumerable<WalletManagerSite.Models.TransactionViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OperationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OperationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>

                    <select class="form-control" onchange="UpdateCategory(this, '@item.Reference')">
                        <option>@Localizer["CategorySelection"]</option>
                        @foreach (var category in item.Categories)
                        {
                            var isSelected = category.Name == item.CategoryName;
                            if (isSelected)
                            {
                                <option value="@category.Name" selected>@category.Name</option>
                            }
                            else
                            {
                                <option value="@category.Name">@category.Name</option>
                            }

                        }
                    </select>
                </td>
                <td>
                    @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { reference = item.Reference })
                </td>
            </tr>
        }
    </tbody>
</table>