@model WalletManagerSite.Models.CsvFileViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"]; ;
}

<h2>@Localizer["Title"]</h2>

@{
    if (!string.IsNullOrWhiteSpace(ViewBag.Error))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
    else
    {
        <h3>@Localizer["DeleteQuestion"]</h3>
        <div>
            <h4>CsvFileViewModel</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FullPath)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FullPath)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FileName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FileName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UpdateDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UpdateDate)
                </dd>
            </dl>

            <form asp-action="Delete">
                @Html.HiddenFor(model => model.FileName)
                <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" /> |
                <a asp-action="Index">@Localizer["BackToList"]</a>
            </form>
        </div>
    }
}