@model List<WalletManagerSite.Models.CsvFileViewModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Title"]</h2>

<p>
    @Html.ActionLink(Localizer["Create"].Value, "Index", "Transaction")
</p>
<form asp-action="Compare">
    <table class="table">
        <thead>
            <tr>
                <th>
                    To compare
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().FileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().FullPath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().UpdateDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>
                        @Html.EditorFor(modelItem => Model[i].IsChecked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].FileName)
                        @Html.HiddenFor(modelItem => Model[i].FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].FullPath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].UpdateDate)
                    </td>
                    <td>
                        @Html.ActionLink(Localizer["Edit"].Value, "Edit", new { fileName = Model[i].FileName }) |
                        @Html.ActionLink(Localizer["Delete"].Value, "Delete", new { fileName = Model[i].FileName })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="submit" value="Compare" class="btn btn-primary" />
</form>