@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ErrorViewModel
@{
    ViewData["Title"] = Localizer["Error"];
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["SubTitleErrorText"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestID"]:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevMode"]</h3>
<p>
    @Localizer["ErrorText"]
</p>
<p>
    @Localizer["OtherErrorText"]
</p>
